html {
	font-family: "Roboto", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
}
a {
	margin-right: 75px;
}


#haku {
	padding: 5px 2px 5px 2px;
	width: 100%;
	box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background-color: #f2f2f2;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  padding: 15px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  padding: 15px;
  width: 150px;
  font-size: 25px;
}

.nav a, .auth a {
  margin: 20 25px;
}


.subheader {
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  padding: 10px;
  margin-top: 10px;
  height: 60px;
}

ul.boom {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}

ul.boom li {
    display: inline;
    font-size: 18px;
}

ul.boom li+li:before {
    padding: 5px;
    color: black;
    content: ">\00a0";
}

ul.boom li a:hover {
    color: 01447;
    text-decoration: underline;
}

.text {
  width: 60%;
}

.image {
  width: 35%;
  height: 150px;
  border: 2px solid black;
}



/* --- PÄÄLAYOUT (sidebar + content) --- */

.main {
  display: flex;
  gap: 10px;
  margin-top: 10px;

  flex: 1;
}


.footer {
  border: 2px solid black;
  padding: 30px;
  margin-top: 10px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  width: 100%;
  box-sizing: border-box;
}

.footer div {
  width: 30%;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background-color: #f2f2f2;

  display: flex;
  flex-direction: column;
  min-height: 100vh; /* koko ruudun korkeus */
}

/* OIKEA SISÄLTÖALUE */
.content {
  flex: 1;
  border: 2px solid black;
  padding: 20px 15px;
  margin-top: 0px;

  padding: 0 15px;
}

.otsikko {
  text-align: center;
  margin: 30px 0;
}


.games-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

@media (max-width: 768px) {
  .games-grid {
    grid-template-columns: 1fr;
  }
}

.game-box {
  border: 2px solid #777;
  padding: 15px;
  background: #eee;
}

@media (max-width: 768px) {
  .game-box {
    padding: 10px;
  }

  .placeholder {
    height: 150px;
  }
}

/* otsikko */
.game-box h3 {
  margin-top: 0;
}

/* placeholder kuva */
.placeholder {
  margin-top: 15px;
  height: 200px;
  border: 2px solid #aaa;
  position: relative;
  background: #ddd;
}


.game-box:nth-child(1) .placeholder {
  background-image: url("matopelikuva.png");
}

.game-box:nth-child(2) .placeholder {
  background-image: url("pacmankuva.png");
}

.game-box:nth-child(3) .placeholder {
  background-image: url("väistelypelikuva.png");
}

.game-box:nth-child(4) .placeholder {
  background-image: url("reaktiopelikuva.png");
}

.placeholder {
  background-size: cover;
  background-position: center;
  border: 2px solid #aaa;
}
